<hr>
<h1> Заголовок 1 </h1>
<h2> Заголовок 2 </h2>
<h3> Заголовок 3 </h3>
<blockquote>
<h4> Заголовок 4 </h4>
<h5> Заголовок 5 </h5>
<h6> Заголовок 6 </h6>
</blockquote>

<hr>

    <form class="well form-search">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn">Поиск</button>
    </form>

    <form class="well">
      <label>Название</label>
      <input type="text" class="span3" placeholder="Вспомогательный текст…">
      <span class="help-block">Пример вспомогательного текста</span>

      <div class="checkbox">
      <label class="checkbox">
        <input type="checkbox" aria-label="..."> Отметь меня<br />
        <input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."><br />
      </label>
      </div>

      <label class="checkbox">
      </label>
        <input type="checkbox"> Отметь меня


      <button type="submit" class="btn">Отправить</button>
    </form>

    <form class="form-horizontal">
      <fieldset>
        <legend>Название</legend>
        <div class="control-group">

          <label class="control-label" for="input01">Текстовое поле</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="input01">
            <p class="help-block">Вспомогательный текст</p>
          </div>
        </div>
      </fieldset>
    </form>

<hr>

<h3>Списки описания</h3>
<p><code>&lt;dl&gt;</code></p>

<dl>
<dt>Списки описаний</dt>
<dd>Списки описаний идеально подходят для определения терминов.</dd>
<dt>Термин</dt>
<dd>Описание термина.</dd>
<dd>Donec id elit non mi porta gravida at eget metus.</dd>
<dt>Malesuada porta</dt>
<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
</dl>

<hr>

<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
