<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section id="container">

      <header class="clearfix">
        <h1>Флэшкарточкер</h1>
        <ul class="navigation-links">
          <li><a href="#">Все карточки</a></li>
          <li><a href="#">Добавить карточку</a></li>
        </ul>
      </header>

      <h1>Привет, мир!</h1>

      <section>
        <%= yield %>
      </section>

      <script src="http://code.jquery.com/jquery-latest.js"></script>
    </section>
  </body>
</html>


